{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parroquias list</h1>

    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Idparroquia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parroquium in parroquias %}
            <tr>
                <td><a href="{{ path('parroquia_show', { 'idParroquia': parroquium.idParroquia }) }}">{{ parroquium.codigo }}</a></td>
                <td>{{ parroquium.idParroquia }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parroquia_show', { 'idParroquia': parroquium.idParroquia }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parroquia_edit', { 'idParroquia': parroquium.idParroquia }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parroquia_new') }}">Create a new parroquium</a>
        </li>
    </ul>
{% endblock %}
