{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parroquium</h1>

    <table>
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ parroquium.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ parroquium.nombre }}</td>
            </tr>
            <tr>
                <th>Idparroquia</th>
                <td>{{ parroquium.idParroquia }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parroquia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parroquia_edit', { 'idParroquia': parroquium.idParroquia }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
