{% extends 'base.html.twig' %}

{% block body %}
    <h1>Antecedente</h1>

    <table>
        <tbody>
            <tr>
                <th>Pariente</th>
                <td>{{ antecedente.pariente }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ antecedente.descripcion }}</td>
            </tr>
            <tr>
                <th>Idantecedentes</th>
                <td>{{ antecedente.idAntecedentes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('antecedentes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('antecedentes_edit', { 'idAntecedentes': antecedente.idAntecedentes }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
