{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historicoinformacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{% if historicoInformacion.fecha %}{{ historicoInformacion.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ historicoInformacion.descripcion }}</td>
            </tr>
            <tr>
                <th>Idhistorico</th>
                <td>{{ historicoInformacion.idHistorico }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historicoinformacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('historicoinformacion_edit', { 'idHistorico': historicoInformacion.idHistorico }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
